<h1>Welcome to the best blog about ruby</h1>

<br /><br />

<!-- Article.create title: "Cenas", content: "bota remedio na internet" -->

<br /><br />


<h2>--------------------</h2>
<h2>Most recent articles</h2>

<ul>
	<% @articles.each do |article| %>
		<li>
			<a href="<%= article.id %>"> <%= article.id %> <%= article.title %> </a>
		</li>	
	<% end %>
</ul>
